.main-menu {
  margin-bottom: 2rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.38);
  padding: 1rem;
  position: fixed;
  z-index: 2;
  width: 100vw;
  top: 0;
  background-color: rgba(0, 15, 22, 0.2);
  backdrop-filter: blur(10px);
}

.main-menu ul {
  display: flex;
}

.main-menu li {
  list-style: none;
  margin-right: 2rem;

}

.main-menu a {
  color: white;
  text-decoration: none;
}